.el-header
  color #333
  text-align center
  line-height 60px
  padding 0 0
  z-index 999
  .icon
    width 25px
    height 25px
  .name
    float right
    margin-left 10px
#login
  padding 44px 60px
.el-dialog--center .el-dialog__body
  padding-bottom 0px
  border-radius 10px
.dialog-footer .login-btn
  width 98%
  padding-top 18px
  padding-bottom 18px
.copyright
  text-align right
  color #b4b4b4
  font-size 14px
  margin-top 60px
  margin-right 2%

.el-menu-item
  &.is-active
    background url("../../../static/images/icon/menu-active.png")
    background-size cover
#header .is-active
  background url("../../../static/images/icon/menu-active.png")
  background-size cover
#header .isactive
  background url("../../../static/images/icon/menu-active.png")
  background-size cover
#header .el-menu
  background url("../../../static/images/header-backimg.png") bottom
  background-size 100% 60px
#header .el-menu-item
  padding 0px 32px
#header .el-menu-item a
  font-size 16px
#header .el-menu--horizontal > .el-menu-item
  border-bottom-color blue
#header .el-collapse-item__header
  color #296ff0
  font-size 16px
